@font-face {
  font-family: 'Firasansbold';
  src: url('../fonts/Firasansbold.woff2') format('woff2'),
  url('../fonts/Firasansbold.woff') format('woff');
}

@font-face {
  font-family: 'Firasansextrabold';
  src: url('../fonts/Firasansextrabold.woff2') format('woff2'),
  url('fonts/Firasansextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Firasanslight';
  src: url('../fonts/Firasanslight.woff2') format('woff2'),
  url('fonts/Firasanslight.woff') format('woff');
}

@font-face {
  font-family: 'Firasansregular';
  src: url('../fonts/Firasansregular.woff2') format('woff2'),
  url('fonts/Firasansregular.woff') format('woff');
}

@font-face {
  font-family: 'Firasanshair';
  src: url('fonts/Firasanshair.woff') format('woff');
}

@font-face {
  font-family:"LatoBold";
  src: url("fonts/Lato-Bold.woff") format("woff");
}


