body {
  position: relative;
  font-family: Firasanslight, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}


  .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
