.helmet__img {
  float: left;
  width: 50%;
  min-height: 542px;
  background: url(../img/helmet.jpg) no-repeat;
  background-size: 100%;
}

.helmet__faucibus {
  float: right;
  width: 50%;
}

.helmet__title {
  margin: 110px 0 35px 60px;
  font-family: Firasansbold, Arial, sans-serif;
  font-size: 24px;
  color: #666666;
}

.helmet__text {
  width: 500px;
  font-size: 36px;
  margin: 0 0 0 60px;
  color: #666666;
}
