.helmet__img {
  float: left;
  width: 50%;
  min-height: 542px;
  background: url(../img/helmet.jpg) no-repeat;
  background-size: cover;
}

.helmet__faucibus {
  float: right;
  width: 50%;
}

.helmet__title {
  margin: 110px 0 35px 60px;
  color: #666666;
}

.helmet__text {
  width: 500px;
  margin: 0 0 0 60px;
  color: #666666;
}
